* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 80px;
}

.game-options form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
