* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  text-align: center;
  margin-top: 12px;
}

.game-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 80px;
}

.game-options form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px;
}

#game-board {
  display: none;
}

#lobby-options {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 32px;
}

.attempts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100px;
  margin: 32px;
}

.attempts-container ul {
  background-color: #eee;
}

.attempts-container li {
  list-style: none;
}

.title {
  background-color: #ccc;
  text-align: center;
  font-weight: bold;
}

#secret-form {
  display: block;
}

#display-secret-code {
  display: none;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 400px;
}

.battle-royale-players {
  padding: 40px;
}

.player-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.player {
  background-color: #fcc;
  min-width: 200px;
  text-align: center;
}

.winner {
  background-color: #cfc;
}

.player-name {
  padding: 10px 20px;
  background-color: #ff7f7f;
  font-weight: bold;
}

.player-name-winner {
  background-color: #69e387;
}

.player-guesses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 6px;
}

.postgame-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
