{% extends 'base.html' %} {% block title %}MasterMind - Home{% endblock %} {%
block content %}
<h1>Welcome to MasterMind!</h1>
<div class="game-options">
  <form action="/start_single">
    <h2>Singleplayer</h2>
    <label>Start Game</label>
    <input type="submit" />
  </form>

  <form id="join-multi-form" method="post">
    <h2>Multiplayer</h2>
    <input type="text" hidden name="mode" value="multiplayer" />
    <!-- Input for name -->
    <div>
      <label for="multi-game-name">Name:</label>
      <input
        type="text"
        id="multi-game-name"
        placeholder="Pick a name!"
        name="name"
        value="{{name}}"
        required
      />
    </div>
    <!-- Options to host or join game-->
    <div>
      <input type="text" placeholder="Room Code" name="code" value="{{code}}" />
      <button type="submit" name="join">Join a Game</button>
    </div>
    <button type="submit" name="create">Create a Game</button>
  </form>

  <form id="join-battle-form" method="post">
    <h2>Battle Royale</h2>
    <input type="text" hidden name="mode" value="battle-royale" />
    <!-- Input for name -->
    <div>
      <label for="multi-game-name">Name:</label>
      <input
        type="text"
        id="multi-game-name"
        placeholder="Pick a name!"
        name="name"
        value="{{name}}"
        required
      />
    </div>
    <button type="submit" name="create">Join Game</button>
  </form>
</div>
{% if error %}
<p>{{error}}</p>
{% endif %}
<div class="leaderboard-container">
  <h2>Total Wins Leaderboard</h2>
  <ol class="leaderboard">
    {% for player in leaderboard %}
    <li>{{ player.username }} - {{ player.total_wins }} wins</li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
