{% extends 'base.html' %} {% block title %}MasterMind - Multiplayer Lobby{%
endblock %} {% block content %}
<div class="lobby-options">
  <p>You are in the lobby!</p>
  <form id="lobby-form">
    <label for="codelength-input">Code Length: </label>
    <input
      type="number"
      name="codelength"
      id="codelength-input"
      value="4"
      disabled
    />
    <label for="attempts-input">Number of Attempts: </label>
    <input
      type="number"
      name="attempts"
      id="attempts-input"
      value="10"
      disabled
    />
    <button type="submit">Start Game</button>
  </form>

  <div class="message-container">
    <h2>Chat Room: {{ code }}</h2>
    <div class="messages" id="messages"></div>
    <div class="inputs" id="inputs">
      <input
        type="text"
        rows="3"
        placeholder="Message"
        name="message"
        id="message"
      />
      <button type="button" name="send" id="send-btn" onclick="sendMessage()">
        Send
      </button>
    </div>
  </div>

  <form action="/">
    <input type="submit" value="Leave Game" />
  </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script src="static/js/lobby.js"></script>
{% endblock %}
