{% extends 'base.html' %} {% block title %}MasterMind - Multiplayer Game{%
endblock %} {% block content %}
<h1>Welcome to MasterMind!</h1>
<div id="players-container">
  <p>Players</p>
</div>
<div id="chat-container">
  <div class="message-container">
    <h2>Chat Room: {{ code }}</h2>
    <div class="messages" id="messages"></div>
    <div class="inputs" id="inputs">
      <input
        type="text"
        rows="3"
        placeholder="Message"
        name="message"
        id="message"
      />
      <button type="button" name="send" id="send-btn" onclick="sendMessage()">
        Send
      </button>
    </div>
  </div>
</div>
<p>
  You have {{num_attempts}} attempts to guess the 4-digit code (0-7). Good luck!
</p>
<form id="guess-form">
  <label for="guess-input">Enter your guess (e.g., 0123): </label>
  <input type="hidden" id="secret-code" name="secret_code" value="{{ code }}" />
  <input
    type="number"
    name="guess"
    id="guess-input"
    min="0000"
    max="7777"
    required
  />
  <button type="button" name="guess" id="guess-btn" onclick="sendMove()">
    Send
  </button>
</form>
<div>
  <ul class="feedback-container">
    <li class="feedback">Feedback</li>
  </ul>
</div>
<form action="/">
  <input type="submit" value="Leave Game" />
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script src="static/js/multiplayer.js"></script>
{% endblock %}
