{% extends 'base.html' %} {% block title %}MasterMind - Multiplayer Game{%
endblock %} {% block content %}
<h1>Welcome to MasterMind, {{ name }}!</h1>
<h2>You are the {{ user_role }}!</h2>
<div id="lobby-options">
  <p>You are in the {{mode}} lobby!</p>

  {% if mode == 'multiplayer' %} {% if user_role == 'codemaker' %}
  <form id="lobby-form">
    <label for="codelength-input">Code Length: </label>
    <input
      type="number"
      name="codelength"
      id="codelength-input"
      value="4"
      disabled
    />
    <label for="attempts-input">Number of Attempts: </label>
    <input
      type="number"
      name="attempts"
      id="attempts-input"
      value="10"
      disabled
    />
  </form>
  <button id="start-game-btn" onclick="startGame()">Start Game</button>
  {% else %}
  <p>Waiting for codemaker to start the game...</p>
  {% endif %} {% else %}
  <p>You can play with up to 6 players in battle royale...</p>
  <button id="start-game-btn" onclick="startBattle()">Start Game</button>
  {% endif %}
</div>

<div class="message-container">
  <h2>Game Code: {{ code }}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs" id="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
    />
    <button type="button" name="send" id="send-btn" onclick="sendMessage()">
      Send
    </button>
  </div>

  <form action="/">
    <input type="submit" value="Leave Game" />
  </form>
</div>

<div id="game-board">
  {% if user_role == 'codemaker' %}
  <form id="secret-form">
    <label for="secret-input">Enter the secret code(e.g., 0123): </label>
    <input type="number" name="secret" id="secret-input" required />
    <button type="button" name="secret" id="secret-btn" onclick="sendCode()">
      Send Code
    </button>
  </form>
  <p id="display-secret-code">The secret code is...</p>
  {% else %}
  <p>
    You have {{num_attempts}} attempts to guess the 4-digit code (0-7). Good
    luck!
  </p>
  {% endif %}

  <div class="attempts-container">
    <ul class="guesses-container">
      <li class="guesses title">Guesses</li>
    </ul>
    <ul class="feedback-container">
      <li class="feedback title">Feedback</li>
    </ul>
  </div>

  {% if user_role == 'codebreaker' %}
  <form id="guess-form">
    <label for="guess-input">Enter your guess (e.g., 0123): </label>
    <input type="number" name="guess" id="guess-input" required />
    <button type="button" name="guess" id="guess-btn" onclick="sendGuess()">
      Send Guess
    </button>
  </form>
  {% elif user_role == 'codemaker' %}
  <form id="feedback-form">
    <label for="feedback-input">Enter your feedback: </label>
    <label for="feedback-input">
      <input
        type="number"
        name="feedback"
        id="feedback-nums-input"
        min="0"
        max="4"
        required
      />
      correct number(s)
    </label>
    <label for="feedback-input">
      <input
        type="number"
        name="feedback"
        id="feedback-locs-input"
        min="0"
        max="4"
        required
      />
      correct location(s)
    </label>
    <button
      type="button"
      name="feedback"
      id="feedback-btn"
      onclick="sendFeedback()"
    >
      Send Feedback
    </button>
  </form>
  {% endif %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script src="static/js/multiplayer.js"></script>
{% endblock %}
