{% extends 'base.html' %} {% block title %}MasterMind - Postgame{% endblock %}
{% block content %}
<h1>Welcome to MasterMind!</h1>
<h2>You are in the {{mode}} postgame lobby!</h2>

<div class="battle-royale-players">
  <div class="player-container">
    {% for player in game_data %}
    <div
      {%
      if
      player.winner
      %}
      class="player winner"
      {%
      else
      %}
      class="player"
      {%
      endif
      %}
    >
      <p
        {%
        if
        player.winner
        %}
        class="player-name player-name-winner"
        {%
        else
        %}
        class="player-name"
        {%
        endif
        %}
      >
        {{ player.name }}
      </p>
      <ol class="player-guesses">
        {% for guess in player.guesses %}
        <li>{{ guess }}</li>
        {% endfor %}
      </ol>
    </div>
    {% endfor %}
  </div>
</div>

<div class="postgame-footer">
  <p>The secret code was: {{ secret_code }}</p>
  <form action="/">
    <input type="submit" value="Exit to Home" />
  </form>
</div>
{% endblock %}
